extends layout

block content

	h2 List of all entries

	p
		- for(var entry in entries) {
			p
				a(href="/entries/" + encodeURIComponent(entries[entry]._id))!= entries[entry].title
			p!= entries[entry].body
		- };

	p
		a(href="/new") Add a new entry