extends layout

block content

	h1 List of all entries

	p
		- for(var entry in entries) {
			h2
				a(href="/entries/" + encodeURIComponent(entries[entry]._id))!= entries[entry].title
			p
				a(href="/entries/" + encodeURIComponent(entries[entry]._id))!= entries[entry].body
			hr
		- };

	p
		a(href="/new") Add a new entry